{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}

    {% for message in app.flashes('bestell') %}
        <div class="alert alert-success">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
    <section class="playlist-section spad">
        <div class="container-fluid">
            <div class="section-title">
                <h2>Menukarte</h2>
            </div>
            <div class="container">
                <ul class="playlist-filter controls">
                    <li class="control" data-filter=".Getraenke">Getränke</li>
                    <li class="control" data-filter=".Vorspeisen">Vorspeise</li>
                    <li class="control" data-filter=".Hauptspeisen">Hauptspeise</li>
                    <li class="control" data-filter=".Nachspeisen">Nachspeise</li>
                    <li class="control" data-filter="all">Alle Gerichte</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="row playlist-area">
                {% for gericht in gerichte %}
                <div class="mix col-lg-3 col-md-4 col-sm-6 {{ gericht.kategorie }}">
                    <div class="playlist-item">
                        <img src="{{ asset('bilder/' ~ gericht.bild) }}" alt="">
                        <h5>{{ gericht.beschreibung }} - EUR {{ gericht.preis }}</h5>
                        <p>BestNr. {{ gericht.id }}</p>
                        <a class="btn btn-outline-danger btn-sm" href="{{ path('bestellen', {id:gericht.id}) }}" role="button">Bestellen</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
